<h3><%= @jobs.job_title %></h3>
<h4><%= @jobs.job_description %></h4>
<br>
<h4><%= @jobs.employer_name %></h4>
<p><%= @jobs.employer_description %></p>
<p><%= @jobs.industry %></p>
<h4> Qualifications </h4>
<p>Years of experience: <%= @jobs.year_of_experience %></p>
<p>Education Requirement: <%= @jobs.education_requirement %></p>
<p>Salary: <%= @jobs.base_salary %></p>
<br>
